*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

hr {
    border: 0; /* Quita el borde por defecto */
    height: 1px; /* Grosor de la línea */
    background-color: #262730; /* Color de la línea */
    margin: 20px 0; /* Espacio arriba y abajo de la línea */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra de scroll */
}

/* Estilo del track (fondo de la barra) */
::-webkit-scrollbar-track {
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del pulgar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #424251; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del pulgar cuando está activo (al arrastrarlo) */
::-webkit-scrollbar-thumb:active {
    background-color: #4a7; /* Color cuando se arrastra */
}

/*MODAL-------------------------------------------------------------------*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-color: #111111bd;
    overflow: auto;
    transition: opacity 0.3s ease;
}
.modal-content{
    position: relative;
    margin: 15% auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    color: white;
    background-color: #1e1f28;
    border-radius: 20px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    transform: translateY(-50px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close{
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.modal-title{
    font-size: 2em;
}
.modal-body{
    padding-bottom: 15px;
}
.modal-footer{
    text-align: right;
}
.modal.show {
    display: block;
    opacity: 1;
}
.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}
.modal.fade .modal-content {
    opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}

/*MAIN-------------------------------------------------------------------*/
main{
    display: flex;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: 100%;
    background-color: #1e1f28;
    color: white;
}

.sections
{
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    gap: 20px; /* Añade espacio entre las secciones */
    padding: 30px 50px; /* Añade un padding para que no toque los bordes */
}

/*ASIDE-------------------------------------------------------------------*/

#short-information {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #1f1f2b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.contentbox-me{
    background-color: #25232f;
    padding: 40px 0;
}
.contentbox-me h3
{
    font-size: 1.4em;
}
.contentbox-me p
{
    font-size: 0.95em;
}
.text{
    margin-top: 10px;
}
.fab-image-1
{
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 100px;
    height: auto;
}

.contentbox-info{
    padding: 20px 40px 0 40px;
    flex: 1;
    overflow-y: auto;
}

.gen-info{
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.subtitle, .description{
    margin: 0;
}


.language-level {
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 80px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    background-color: #3b3b47;
    position: relative;
}

.circle::before {
    content: '';
    width: 70px;
    height: 70px;
    background-color: #3b3b47;
    border-radius: 50%;
    position: absolute;
}

.percentage {
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.language-level p {
    font-size: 1em;
    color: #fff;
    margin: 0;
    padding-top: 5px;
}

.education h3
{
    text-align: start;
    margin-bottom: 10px;
}

#short-information h3 {
    margin-top: 0;
}

#short-information ul {
    list-style-type: none;
    padding: 0;
}

#short-information li {
    margin-bottom: 5px;
}

#short-information a {
    text-decoration: none;
}

#short-information i{
    font-size: 1.5em;
    color: #fdc12d;
}

#short-information a:hover {
    text-decoration: none;
}

.dropdown-contact{
    cursor: pointer;
}
.content-contact{
    display: none;
    position: relative;
    margin: 10px 0;
    font-size: 0.95em;
    background-color: #2c2c37;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Alinear los botones uno al lado del otro */
.card-box-drop {
    display: flex;
    gap: 10px;
}

.dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: auto;
    height: auto;
    display: inline-block;
}
.dropdown-btn img{
    width: 40px;
    height: 40px;
    border-radius: 10%;
}
.card-container {
    position: relative;
    width: 100%;
}

/* Asegura que el contenido desplegable esté centrado y oculto inicialmente */
.dropdown-content {
    display: none;
    position: relative;
    margin-top: 10px;
    background-color: #2c2c37;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    
}
.dropdown-content h3{
    font-size: 1em;
}
.dropdown-content p{
    font-size: 0.8em;
    text-align: start;
}

.dropdown-content.active {
    display: block;
}

.content-usil,
.content-idat {
    display: none;
}

.content-usil.active,
.content-idat.active {
    display: block;
}

.close-btn {
    background-color: #fdc12d;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 12px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-btn:hover {
    background-color: #fcae2c;
}

.close-btn:active {
    background-color: #e59e1d;
    transform: scale(0.98);
}

/*FOOTER-----------------------------------------------------------------*/
footer {
    background-color: #24222e; /* Ajusta el color de fondo según el diseño */
    color: white;
    padding: 20px;
    text-align: center;
    /* Asegura que el footer se mantenga al final del aside */
    flex-shrink: 0;
}

/*MAIN info-------------------------------------------------------------------*/
.bannerbox{
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    padding: 100px 50px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, rgb(35, 35, 35), rgba(0, 0, 0, 0)), url('../img/pexels-stywo-1054218.jpg');
    background-size: cover;
    background-position: top, center -350px;
    background-repeat: no-repeat;
}
.bannerbox-mobile {
    width: 100%;
    height: 60vh;
    background: linear-gradient(to top, rgb(35, 35, 35), rgba(0, 0, 0, 0)), url('../img/pexels-stywo-1054218.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.bannerbox-mobile p{
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.bannerbox-mobile h1{
    font-size: 2.7em;
}
.bannerbox p{
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.bannerbox h1{
    font-size: 2.7em;
}
.fab-image{
    position: absolute;
    max-width: 24%;
    height: auto;
    display: block;
    top: -60px;
    right: 50px;
    object-fit: cover;
    z-index: 1;
}
.code-tag{
    color: #fdc12d;
    font-weight: bold;
}

.biography{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.row-section{
    display: flex;
    flex: 1;
    min-width: 300px;
    gap: 15px;
    flex-direction: column;
}
.section-box{
    background-color: #2c2c37;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
}
.section-box p{
    margin: 0;
}
.section-header{
    margin: 0;
}

/*SERVICE-------------------------------------------------------------------*/
.title {
    font-size: 1.8em; /* Tamaño del texto, ajusta según sea necesario */
}

.box-service {
    background-color: #2c2c37;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 250px; /* Asegura un ancho mínimo para cada caja */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.box-service i{
    font-size: 2em;
    background-color: #fdc12d;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.box-service h3 {
    text-align: center;
    margin-top: 0;
}

.box-service p {
    margin-bottom: 15px;
    text-align: justify;
}

#service {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.btn-more {
    background-color: #fdc12d;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-more:hover {
    background-color: #fcae2c;
    transform: scale(1.05);
}

.btn-more:active {
    background-color: #e59e1d;
    transform: scale(0.98);
}

/*SKILLS-------------------------------------------------------------------*/
.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
}
ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    background-color: #2c2c37;
    border-radius: 4px;
}
.skill-name{
    flex: 1;
    text-align: left;
}
.skill-bar{
    width: 50%;
    height: 10px;
    background-color: #3b3b47;
    border-radius: 5px;
    margin-left: 10px;
    position: relative;
}
.skill-level{
    height: 100%;
    background-color: #fdc12d;
    border-radius: 5px;
    display: block;
}
ul li:last-child{
    margin-bottom: 0;
}

/*RESPONSIVE-------------------------------------------------------------------*/
@media (max-width: 3000px) {
    #short-information{
        width: 60%;
    }
    .bannerbox{
        background-position: top, center -500px;
    }
    .bannerbox h1 {
        font-size: 3.6em;
    }
    .bannerbox p {
        font-size: 1.3em;
    }
    .fab-image{
        max-width: 25%;
        top: -90px;
        right: 60px;
    }
}
@media (max-width: 2060px) {
    #short-information{
        width: 85%;
    }
    .bannerbox{
        background-position: top, center -380px;
    }
    .bannerbox h1 {
        font-size: 3em;
    }
    .bannerbox p {
        font-size: 1.1em;
    }
    .fab-image{
        max-width: 23%;
        top: -60px;
        right: 50px;
    }
}
@media (max-width: 1900px) {
    #short-information{
        width: 92%;
    }
    .bannerbox{
        background-position: top, center -340px;
    }
    .fab-image{
        position: absolute;
        max-width: 25%;
        height: auto;
        display: block;
        top: -45px;
        right: 50px;
        object-fit: cover;
        z-index: 1;
    }
    .bannerbox p{
        font-size: 1em;
    }
    .bannerbox h1{
        font-size: 2.8em;
    }
}
@media (max-width: 1700px) {
    .bannerbox{
        background-position: top, center -340px;
    }
    .fab-image{
        position: absolute;
        max-width: 25%;
        height: auto;
        display: block;
        top: -45px;
        right: 50px;
        object-fit: cover;
        z-index: 1;
    }
}
@media (max-width: 1600px) {
    .bannerbox{
        background-position: top, center -280px;
    }
    .fab-image{
        max-width: 30%;
        top: -60px;
        right: 50px;
    }
    .bannerbox h1 {
        font-size: 2.2em;
    }
    .bannerbox p {
        font-size: 0.85em;
    }
}
@media (max-width: 1470px) {
    .bannerbox h1 {
        font-size: 1.85em;
    }
    .bannerbox p {
        font-size: 0.72em;
    }
}
@media (max-width: 1400px) {
    .bannerbox{
        background-position: top, center -220px;
    }
    .fab-image{
        max-width: 31%;
        top: -55px;
        right: 50px;
    }
    .bannerbox h1 {
        font-size: 1.8em;
    }
    .bannerbox p {
        font-size: 0.7em;
    }
}
@media (max-width: 1370px) {
    .bannerbox h1 {
        font-size: 1.8em;
    }
    .bannerbox p {
        font-size: 0.65em;
    }
}
@media (max-width: 1280px) {
    .bannerbox{
        background-position: top, center -200px;
    }
    .fab-image{
        max-width: 31%;
        top: -55px;
        right: 50px;
    }
    .bannerbox p {
        font-size: 0.76em;
    }
}
@media (max-width: 1130px) {
    .fab-image{
        max-width: 33%;
        top: -40px;
        right: 50px;
    }
    .bannerbox h1 {
        font-size: 1.5em;
    }
    .bannerbox p {
        font-size: 0.65em;
    }
}
@media (max-width: 1060px) {
    .bannerbox h1 {
        font-size: 1.4em;
    }
    .bannerbox p {
        font-size: 0.5em;
    }
}
@media (max-width: 1000px) {
    #short-information{
        display: none;
    }
    .bannerbox h1 {
        font-size: 1.4em;
    }
    .bannerbox p {
        font-size: 0.5em;
    }
}
@media (max-width: 850px){
    main{
        display: flex;
        flex-direction: column; /* Asegura que los elementos estén uno debajo del otro */
        width: 100%; /* Ocupa todo el ancho disponible */
    }
    .bannerbox{
        display: none;
    }
    .bannerbox-mobile{
        display: flex; /* Activa Flexbox */
        flex-direction: column; /* Alinea los elementos en columna */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        text-align: center; /* Centra el texto */
        padding: 0 50px;
    }
    .sections {
        display: flex;
        flex-direction: column; /* Coloca los elementos en columna */
        gap: 20px; /* Añade espacio entre las secciones */
        padding: 30px 50px; /* Añade un padding para que no toque los bordes */
        margin-top: 0; /* Asegúrate de que el contenido no tenga margen superior extra */
    }
    .bannerbox-mobile h1 {
        font-size: 4.2em;
    }
    .bannerbox-mobile p {
        font-size: 1em;
    }

    .fab-image {
        display: none;
    }
}
@media (max-width: 768px){
    .skills-container{
        flex-direction: column;
    }
    .bannerbox {
        padding: 50px 20px; /* Ajustamos padding para tablets */
    }

    .bannerbox h1 {
        font-size: 1.8em; /* Ajustamos tamaño de fuente para tablets */
    }

    .fab-image {
        max-width: 30%; /* Ajustamos tamaño de la imagen */
        top: -30px; /* Ajustamos posición */
        right: 10px;
    }
}

@media (max-width: 480px) {
    .bannerbox-mobile h1 {
        font-size: 3.5em;
        padding-bottom: 10px;
    }
    .bannerbox-mobile p {
        font-size: 0.8em;
    }

    .fab-image {
        max-width: 35%; /* Aún más reducción en el tamaño de la imagen */
        top: -20px; /* Ajustamos la posición de la imagen */
        right: 5px;
    }
}